# GEMINI_API_KEY: کلید احراز هویت سرویس هوش مصنوعی گوگل جیمنای (Server-side)
GEMINI_API_KEY="MY_GEMINI_API_KEY"

# VITE_GOOGLE_AI_API_KEY: کلید ارتباط با سرویس هوش مصنوعی در محیط کلاینت
VITE_GOOGLE_AI_API_KEY="your_api_key_here"

# APP_URL: آدرس دامنه هاست و روت برنامه
APP_URL="MY_APP_URL"

# DATABASE_URL: رشته اتصال به پایگاه داده Prisma (پشتیبانی از SQLite محلی یا PostgreSQL)
DATABASE_URL="postgresql://user:password@localhost:5432/dezful_map"
